{% extends 'base.html' %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <p><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}

    <form method="post" action="#">
        {% csrf_token %}
        <table class="task-table">
            <tr>
                <th>Task Name</th>
                <th>Due By</th>
                <th>Priority (High = 1, Low = 3)</th>
                <th>Urgent</th>
                <th>Completed</th>
                <th>Mark to Delete</th>
            </tr>
            {% for task in user.tasks.all %}
                <tr>
                    <td>{{ task.task_name }}</td>
                    <td>{{ task.due_by }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.is_urgent }}</td>
                    {% if task.completed == True %}
                        <td><input type="checkbox", value="clicked", name="click{{task.id}}" checked></td>
                    {% else %}
                        <td><input type="checkbox", value="clicked", name="click{{task.id}}"></td>
                    {% endif %}
                    <td><input type="checkbox", value="clicked", name="delete{{task.id}}"></td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit">Save Changes</button>
    </form>

    {{ line_chart|safe }}
{% endblock %}